<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdm.dao.LocationMapper" >
  <resultMap id="BaseResultMap" type="com.cdm.model.Location" >
    <id column="location_id" property="locationId" jdbcType="INTEGER" />
    <result column="location_address" property="locationAddress" jdbcType="VARCHAR" />
    <result column="location_cost" property="locationCost" jdbcType="REAL" />
    <result column="location_desc" property="locationDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    location_id, location_address, location_cost, location_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cdm.model.LocationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from location
    where location_id = #{locationId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from location
    where location_id = #{locationId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdm.model.LocationExample" >
    delete from location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdm.model.Location" >
    insert into location (location_id, location_address, location_cost, 
      location_desc)
    values (#{locationId,jdbcType=INTEGER}, #{locationAddress,jdbcType=VARCHAR}, #{locationCost,jdbcType=REAL}, 
      #{locationDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdm.model.Location" >
    insert into location
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="locationId != null" >
        location_id,
      </if>
      <if test="locationAddress != null" >
        location_address,
      </if>
      <if test="locationCost != null" >
        location_cost,
      </if>
      <if test="locationDesc != null" >
        location_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="locationId != null" >
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="locationAddress != null" >
        #{locationAddress,jdbcType=VARCHAR},
      </if>
      <if test="locationCost != null" >
        #{locationCost,jdbcType=REAL},
      </if>
      <if test="locationDesc != null" >
        #{locationDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdm.model.LocationExample" resultType="java.lang.Integer" >
    select count(*) from location
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update location
    <set >
      <if test="record.locationId != null" >
        location_id = #{record.locationId,jdbcType=INTEGER},
      </if>
      <if test="record.locationAddress != null" >
        location_address = #{record.locationAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.locationCost != null" >
        location_cost = #{record.locationCost,jdbcType=REAL},
      </if>
      <if test="record.locationDesc != null" >
        location_desc = #{record.locationDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update location
    set location_id = #{record.locationId,jdbcType=INTEGER},
      location_address = #{record.locationAddress,jdbcType=VARCHAR},
      location_cost = #{record.locationCost,jdbcType=REAL},
      location_desc = #{record.locationDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdm.model.Location" >
    update location
    <set >
      <if test="locationAddress != null" >
        location_address = #{locationAddress,jdbcType=VARCHAR},
      </if>
      <if test="locationCost != null" >
        location_cost = #{locationCost,jdbcType=REAL},
      </if>
      <if test="locationDesc != null" >
        location_desc = #{locationDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where location_id = #{locationId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdm.model.Location" >
    update location
    set location_address = #{locationAddress,jdbcType=VARCHAR},
      location_cost = #{locationCost,jdbcType=REAL},
      location_desc = #{locationDesc,jdbcType=VARCHAR}
    where location_id = #{locationId,jdbcType=INTEGER}
  </update>
</mapper>