<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cdm.dao.WarehouseMaterialMapper" >
  <resultMap id="BaseResultMap" type="com.cdm.model.WarehouseMaterial" >
    <id column="warehouse_id" property="warehouseId" jdbcType="INTEGER" />
    <id column="material_id" property="materialId" jdbcType="INTEGER" />
    <result column="warehouse_material_num" property="warehouseMaterialNum" jdbcType="INTEGER" />
    <result column="warehouse_material_desc" property="warehouseMaterialDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    warehouse_id, material_id, warehouse_material_num, warehouse_material_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cdm.model.WarehouseMaterialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from warehouse_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.cdm.model.WarehouseMaterialKey" >
    select 
    <include refid="Base_Column_List" />
    from warehouse_material
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and material_id = #{materialId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.cdm.model.WarehouseMaterialKey" >
    delete from warehouse_material
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and material_id = #{materialId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdm.model.WarehouseMaterialExample" >
    delete from warehouse_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdm.model.WarehouseMaterial" >
    insert into warehouse_material (warehouse_id, material_id, warehouse_material_num, 
      warehouse_material_desc)
    values (#{warehouseId,jdbcType=INTEGER}, #{materialId,jdbcType=INTEGER}, #{warehouseMaterialNum,jdbcType=INTEGER}, 
      #{warehouseMaterialDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdm.model.WarehouseMaterial" >
    insert into warehouse_material
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="warehouseId != null" >
        warehouse_id,
      </if>
      <if test="materialId != null" >
        material_id,
      </if>
      <if test="warehouseMaterialNum != null" >
        warehouse_material_num,
      </if>
      <if test="warehouseMaterialDesc != null" >
        warehouse_material_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="warehouseId != null" >
        #{warehouseId,jdbcType=INTEGER},
      </if>
      <if test="materialId != null" >
        #{materialId,jdbcType=INTEGER},
      </if>
      <if test="warehouseMaterialNum != null" >
        #{warehouseMaterialNum,jdbcType=INTEGER},
      </if>
      <if test="warehouseMaterialDesc != null" >
        #{warehouseMaterialDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdm.model.WarehouseMaterialExample" resultType="java.lang.Integer" >
    select count(*) from warehouse_material
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update warehouse_material
    <set >
      <if test="record.warehouseId != null" >
        warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      </if>
      <if test="record.materialId != null" >
        material_id = #{record.materialId,jdbcType=INTEGER},
      </if>
      <if test="record.warehouseMaterialNum != null" >
        warehouse_material_num = #{record.warehouseMaterialNum,jdbcType=INTEGER},
      </if>
      <if test="record.warehouseMaterialDesc != null" >
        warehouse_material_desc = #{record.warehouseMaterialDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update warehouse_material
    set warehouse_id = #{record.warehouseId,jdbcType=INTEGER},
      material_id = #{record.materialId,jdbcType=INTEGER},
      warehouse_material_num = #{record.warehouseMaterialNum,jdbcType=INTEGER},
      warehouse_material_desc = #{record.warehouseMaterialDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdm.model.WarehouseMaterial" >
    update warehouse_material
    <set >
      <if test="warehouseMaterialNum != null" >
        warehouse_material_num = #{warehouseMaterialNum,jdbcType=INTEGER},
      </if>
      <if test="warehouseMaterialDesc != null" >
        warehouse_material_desc = #{warehouseMaterialDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and material_id = #{materialId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdm.model.WarehouseMaterial" >
    update warehouse_material
    set warehouse_material_num = #{warehouseMaterialNum,jdbcType=INTEGER},
      warehouse_material_desc = #{warehouseMaterialDesc,jdbcType=VARCHAR}
    where warehouse_id = #{warehouseId,jdbcType=INTEGER}
      and material_id = #{materialId,jdbcType=INTEGER}
  </update>
</mapper>